 /**{
	outline:1px solid rgba(255,0,0,0.3);
} */
body{
	font-family: Helvetica;
}
img{
	max-width: 100%;
}
.fondo-gris{
	background-color: #F3F3F3;
}
.fondo-blanco{
	background-color: #fff;
}
.encabezado{
	font-size: 11px;
	text-align: center;
}
.logo{
height: 50px;
width:55%;
float: left;
}
.relativo {
	position:relative;
}
.inline_block{display: inline-block;}
.moviet{
	top:20px;
}
input:focus{outline: none; border:none;}
input{border:none; position: absolute; left: 8px; top:25%;}
.busca{border:1px solid #D1D1D1; max-width: 150px;float: right; margin-right: 10px;overflow: hidden;margin-top: 5px; position: relative; height: 30px;}
.busca span{right: 5px; position: absolute; top:25%; color: #D1D1D1;}
div.banner > div{
	height: 400px;
}

.banner-imagen {
	background-image:url("../img/banner.jpg");
	background-size: cover;
}
.banner-imagen img{
	width: 10%;
	top:45%;
	left:30%;
	position: relative;
}
.all-age{
	border: 2px solid green;
	border-radius:5px;
	padding: 10px;
	color:green; 
	margin-right: 15px;
	margin-bottom: 15px;
}
.gris-claro{
		color: #f2f2f2;
}
.cuadro-gris {
	background-color: #383837;
	padding-left: 0px;
}
.texto-peli div{
	display:inline-block;
}
.texto-peli{
	font-size: 0.7em;
	margin:0px;
}
table tr td:first-child{
	padding-right: 70px;
}	
table{
	margin-bottom: 15px;
}
.block {
	display:block;
}
.boton{
	width: 200px;
	height: 50px;
	margin-top:20px;
	border-radius: 7px;
	padding-left: 0px;
	border:0px;
}
.watch{
	background-color:#DFB733;
}
.watch:hover{
	background-color:#f2f2f2;
	color:#DFB733;
}
button.boton:active{
top:3px;
}
.ticket{
	background-color:#BB7B29;
}
.ticket:hover{
	background-color:#f2f2f2;
	color:#BB7B29;
}
button.boton div {
	display: inline-block;
	margin:15px 3px;
}
.cartelera{
	background-color:#DFB636;
	min-height: 260px;	
}
.lista-sin-estilo{
	list-style: none;
	margin:0px;
	padding: 0px;
}
.lista-cartelera{ width:100%; display: block; text-align: center;}
ul.lista-cartelera li {
	display: inline-block;
	position: relative;
	max-width: 150px;
	max-height: 200px;
	overflow: hidden;
	margin-right: 20px;
	margin-top: 30px;
}
ul.lista-cartelera li:first-child{
	margin-left: 20px;
}
.book-ticket {padding-left: 50px;}
.book-ticket h1{ font-size: 30px; }
h2{
	margin-top: 45px;
	margin-bottom: 20px;
	color:#D1D1D1;
}
.book-ticket p:first-of-type{
	margin-top: 20px;
	color: #D1D1D1;
	font-size: 20px;
	font-weight: 500;
}
.book-ticket .boton{
	width:150px;
	height: 70px;
	margin-bottom: 20px;
}
.book-ticket p:last-of-type{
	font-size: 15px;
	color:#BB7B29;
	margin-bottom: 40px;
}
.news{margin-bottom: 30px;}
.news p {
	font-size: 12px;
	color:#D1D1D1;
}
.news a{
	text-decoration: none;
	color:#BB7B29;
}
.news a:hover{color:#845d29;}
.especiales div {
	max-height: 265px;
	overflow: hidden;
}
.especiales {text-align: center; }
.pie{color:#D1D1D1;  margin-top: 30px;}
.pie ul li {margin-bottom: 20px;}
.pie p { font-size: 12px;}